*{
    margin: 0;
    padding: 0;
}
h1{
    color: #003049;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: #fdf0d5;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2vmin;
}
.box{
    height:18vmin;
    width: 18vmin;
    border-radius: 15%;
    border: none;
    background-color: #780000;
    color: #fefae0;
    filter: drop-shadow(0 0 0.75rem #e76f51);
    font-size: 8vmin;
}
#reset_btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #a8dadc;
    color: #003049;
    border-radius: 1rem;
    border:2px solid #003049;
}
.msg_container{
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} 
.hide{
    display: none;
}
.msg{
    width: 100%;
    font-size: 3rem;
}
#new_game{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #a8dadc;
    color: #003049;
    border-radius: 1rem;
    border:2px solid #003049;
}